= simple_form_for(@declare) do |f|
  = f.error_notification

  .form-inputs
    = f.input :classification, collection: @declare.class.classifications, include_blank: false
    = f.input :body
    = f.input :description

  .form-actions
    = f.button :submit
