%h1 Listing declares

%table
  %tr
    %th Body
    %th Description
    %th created at
    %th
    %th
    %th

  - @declares.each do |declare|
    %tr
      %td= declare.body
      %td= declare.description
      %td= declare.created_at
      %td= link_to 'Show', declare
      %td= link_to 'Edit', edit_declare_path(declare)
      %td= link_to 'Destroy', declare, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Declare', new_declare_path
